.about-us-container {
    padding: 20px;

    margin: 20px auto;

    max-width: 1200px;

    border-radius: 10px;

}

.about-us {
    padding: 60px 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-us-content {
    flex: 1;
    margin-right: 20px;
    align-items: center;
}

.about-us-content h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.about-us-content h3 {
    font-size: 28px;
    color: #555;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-us-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.about-us-content ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
}